main {
  position: relative;
  z-index: 999;
  padding: 50px 0;
  .jostic {
    position: absolute;
    z-index: -1;
    left: 50vh;
    img {
      max-width: 100%;
      @media (max-width: 560px) {
        display: none;
      }
    }
  }
  .section-one {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 662px) {
      display: flex;
      flex-direction: column;
    }
    .sc-one-text {
      display: flex;
      align-items: start;
      gap: 20px;
      flex-direction: column;
      @media (max-width: 560px) {
        display: flex;
        align-items: center;
        text-align: center;
      }
      h5 {
        color: rgba(232, 125, 14, 1);
        font-size: 20px;
        font-weight: 700;
        line-height: 31.04px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
      h1 {
        color: rgba(255, 255, 255, 1);
        font-size: 50px;
        font-weight: 700;
        line-height: 77.6px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 479.63px;
        @media (max-width: 560px) {
          font-size: 25px;
          width: 300px;
          line-height: 34px;
          text-align: center;
        }
      }
      p {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 527px;
        @media (max-width: 560px) {
          font-size: 14px;
          width: 250px;
          text-align: center;
          line-height: 21px;
        }
      }
      button {
        width: 195px;
        height: 53px;
        background: linear-gradient(92.48deg, #d80027 2.08%, #fb9e3c 117.25%);
        border-radius: 40px;
        color: rgba(255, 255, 255, 1);
        font-family: "Montserrat", serif;
        cursor: pointer;
        border: none;
        transition: 0.3s ease-in-out;
        &:hover {
          background: linear-gradient(92.48deg, #fb9e3c 2.08%, #d80027 117.25%);
        }
      }
    }
    .brend-icons {
      display: flex;
      align-items: center;
      gap: 240px;
      @media (max-width: 1112px) {
        display: flex;
        // flex-direction: column;
        gap: 5px;
        align-items: center;
      }
      @media (max-width: 560px) {
        display: flex;
      }
    }
  }
}
// 2
.section-two {
  margin-top: 70px;
  .section-two-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 556px) {
      flex-direction: column;
    }
    h1 {
      color: #fff;
      font-size: 31px;
      font-weight: 700;
      line-height: 58.13px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    .see_all_one_btn {
      .button {
        --h-button: 48px;
        --w-button: 102px;
        --round: 0.75rem;
        cursor: pointer;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all 0.25s ease;
        background: radial-gradient(
            65.28% 65.28% at 50% 100%,
            rgba(223, 113, 255, 0.8) 0%,
            rgba(223, 113, 255, 0) 100%
          ),
          linear-gradient(0deg, #7a5af8, #7a5af8);
        border-radius: var(--round);
        border: none;
        outline: none;
        padding: 12px 18px;
      }
      .button::before,
      .button::after {
        content: "";
        position: absolute;
        inset: var(--space);
        transition: all 0.5s ease-in-out;
        border-radius: calc(var(--round) - var(--space));
        z-index: 0;
      }
      .button::before {
        --space: 1px;
        background: linear-gradient(
          177.95deg,
          rgba(255, 255, 255, 0.19) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      .button::after {
        --space: 2px;
        background: radial-gradient(
            65.28% 65.28% at 50% 100%,
            rgba(223, 113, 255, 0.8) 0%,
            rgba(223, 113, 255, 0) 100%
          ),
          linear-gradient(0deg, #7a5af8, #7a5af8);
      }
      .button:active {
        transform: scale(0.95);
      }

      .fold {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        height: 1rem;
        width: 1rem;
        display: inline-block;
        transition: all 0.5s ease-in-out;
        background: radial-gradient(
          100% 75% at 55%,
          rgba(223, 113, 255, 0.8) 0%,
          rgba(223, 113, 255, 0) 100%
        );
        box-shadow: 0 0 3px black;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: var(--round);
      }
      .fold::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 150%;
        height: 150%;
        transform: rotate(45deg) translateX(0%) translateY(-18px);
        background-color: #e8e8e8;
        pointer-events: none;
      }
      .button:hover .fold {
        margin-top: -1rem;
        margin-right: -1rem;
      }

      .points_wrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;
        pointer-events: none;
        position: absolute;
        z-index: 1;
      }

      .points_wrapper .point {
        bottom: -10px;
        position: absolute;
        animation: floating-points infinite ease-in-out;
        pointer-events: none;
        width: 2px;
        height: 2px;
        background-color: #fff;
        border-radius: 9999px;
      }
      @keyframes floating-points {
        0% {
          transform: translateY(0);
        }
        85% {
          opacity: 0;
        }
        100% {
          transform: translateY(-55px);
          opacity: 0;
        }
      }
      .points_wrapper .point:nth-child(1) {
        left: 10%;
        opacity: 1;
        animation-duration: 2.35s;
        animation-delay: 0.2s;
      }
      .points_wrapper .point:nth-child(2) {
        left: 30%;
        opacity: 0.7;
        animation-duration: 2.5s;
        animation-delay: 0.5s;
      }
      .points_wrapper .point:nth-child(3) {
        left: 25%;
        opacity: 0.8;
        animation-duration: 2.2s;
        animation-delay: 0.1s;
      }
      .points_wrapper .point:nth-child(4) {
        left: 44%;
        opacity: 0.6;
        animation-duration: 2.05s;
      }
      .points_wrapper .point:nth-child(5) {
        left: 50%;
        opacity: 1;
        animation-duration: 1.9s;
      }
      .points_wrapper .point:nth-child(6) {
        left: 75%;
        opacity: 0.5;
        animation-duration: 1.5s;
        animation-delay: 1.5s;
      }
      .points_wrapper .point:nth-child(7) {
        left: 88%;
        opacity: 0.9;
        animation-duration: 2.2s;
        animation-delay: 0.2s;
      }
      .points_wrapper .point:nth-child(8) {
        left: 58%;
        opacity: 0.8;
        animation-duration: 2.25s;
        animation-delay: 0.2s;
      }
      .points_wrapper .point:nth-child(9) {
        left: 98%;
        opacity: 0.6;
        animation-duration: 2.6s;
        animation-delay: 0.1s;
      }
      .points_wrapper .point:nth-child(10) {
        left: 65%;
        opacity: 1;
        animation-duration: 2.5s;
        animation-delay: 0.2s;
      }

      .inner {
        z-index: 2;
        gap: 6px;
        position: relative;
        width: 100%;
        color: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        transition: color 0.2s ease-in-out;
      }

      .inner svg.icon {
        width: 18px;
        height: 18px;
        transition: fill 0.1s linear;
      }

      .button:focus svg.icon {
        fill: white;
      }
      .button:hover svg.icon {
        fill: transparent;
        animation: dasharray 1s linear forwards,
          filled 0.1s linear forwards 0.95s;
      }
      @keyframes dasharray {
        from {
          stroke-dasharray: 0 0 0 0;
        }
        to {
          stroke-dasharray: 68 68 0 0;
        }
      }
      @keyframes filled {
        to {
          fill: white;
        }
      }
    }
  }
  .section-two-cards {
    margin-top: 50px;
    .carousel-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .slick-slider {
        .card-cr {
          display: flex;
          align-items: center;
          justify-content: center;
          .card-info {
            display: flex;
            align-items: center;
            text-align: center;
            gap: 10px;
            .follower-p {
              color: rgba(255, 255, 255, 1);
              font-size: 22px;
              font-weight: 500;
              line-height: 41.25px;
              text-align: center;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
            }
          }
        }
      }
      .slick-prev,
      .slick-next {
        display: none !important;
      }
    }
  }
}
// 3
.section-three {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 35px;
    font-weight: 600;
    line-height: 65.63px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 826px;
  }
}
// 4
.section-four {
  margin-top: 108px;
  h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    font-weight: 600;
    line-height: 56.25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  p {
    width: 545px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    @media (max-width: 602px) {
      width: 300px;
    }
  }
}
// 5
.section-five {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .red_dot_img {
    position: absolute;
    right: 125px;
    top: -50px;
    max-width: 100%;
    @media (max-width: 1064px) {
      width: 10rem;
    }
    @media (max-width: 768px) {
      width: 8rem;
      right: 50px;
    }
    @media (max-width: 458px) {
      display: none;
    }
  }
  .call_of {
    width: 100%;
  }
}
// 6
.section__six_bg {
  background: url(../../components/assets/Home/img/squidGamers.png) no-repeat
    center center;
  background-size: cover;
  width: 100%;
  margin-top: 100px;
  padding: 50px 0;
  .section-six {
    padding-top: 100px;
    .top__texts {
      display: flex;
      align-items: center;
      flex-direction: column;
      h1 {
        color: rgba(255, 255, 255, 1);
        font-size: 30px;
        font-weight: 700;
        line-height: 56.25px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 826px;
        @media (max-width: 855px) {
          width: 600px;
        }
        @media (max-width: 625px) {
          width: 400px;
        }
        @media (max-width: 415px) {
          width: 300px;
        }
      }
      p {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 820px;
        @media (max-width: 855px) {
          width: 600px;
        }
        @media (max-width: 625px) {
          width: 400px;
        }
        @media (max-width: 415px) {
          width: 300px;
        }
      }
    }
    .in_contents {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      gap: 62px;
      padding: 0 20px; // Ekranga moslashuvchan bo'lishi uchun

      .first_fours {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap; // Kichik ekranlarda moslashish uchun
        gap: 20px; // Elementlar orasidagi bo'shliq

        @media (max-width: 768px) {
          justify-content: center;
          gap: 15px;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        max-width: 800px; // Juda keng bo'lib ketmasligi uchun
        margin: 0 auto; // Markazga joylash uchun

        p {
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

          @media (max-width: 768px) {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }

      .last_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap; // Moslashuvchan qilish uchun
        gap: 20px;

        @media (max-width: 600px) {
          flex-direction: column; // Juda kichik ekranlar uchun ustun shaklida
          gap: 15px;
        }
      }
    }
  }
}
// 7
.section__seven {
  margin-top: 100px;
  .section-seven {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      color: rgba(255, 255, 255, 1);
      font-size: 30px;
      font-weight: 700;
      line-height: 56.25px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    p {
      color: rgba(255, 255, 255, 1);
      font-size: 14px;
      font-weight: 400;
      line-height: 26.25px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      max-width: 100%;
    }
    .section-seven-cards {
      margin-top: 80px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 30px;
      padding-bottom: 80px;
      img {
        transition: 0.3s ease-in-out;
        max-width: 100%;
      }
      img:hover {
        transform: scale(1.1);
      }
    }
    .see_all_btn {
      .button {
        font-family: "Montserrat", serif;

        --h-button: 48px;
        --w-button: 102px;
        --round: 0.75rem;
        cursor: pointer;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all 0.25s ease;
        background: radial-gradient(
            65.28% 65.28% at 50% 100%,
            rgba(223, 113, 255, 0.8) 0%,
            rgba(223, 113, 255, 0) 100%
          ),
          linear-gradient(0deg, #7a5af8, #7a5af8);
        border-radius: var(--round);
        border: none;
        outline: none;
        padding: 12px 18px;
      }
      .button::before,
      .button::after {
        content: "";
        position: absolute;
        inset: var(--space);
        transition: all 0.5s ease-in-out;
        border-radius: calc(var(--round) - var(--space));
        z-index: 0;
      }
      .button::before {
        --space: 1px;
        background: linear-gradient(
          177.95deg,
          rgba(255, 255, 255, 0.19) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      .button::after {
        --space: 2px;
        background: radial-gradient(
            65.28% 65.28% at 50% 100%,
            rgba(223, 113, 255, 0.8) 0%,
            rgba(223, 113, 255, 0) 100%
          ),
          linear-gradient(0deg, #7a5af8, #7a5af8);
      }
      .button:active {
        transform: scale(0.95);
      }

      .fold {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        height: 1rem;
        width: 1rem;
        display: inline-block;
        transition: all 0.5s ease-in-out;
        background: radial-gradient(
          100% 75% at 55%,
          rgba(223, 113, 255, 0.8) 0%,
          rgba(223, 113, 255, 0) 100%
        );
        box-shadow: 0 0 3px black;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: var(--round);
      }
      .fold::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 150%;
        height: 150%;
        transform: rotate(45deg) translateX(0%) translateY(-18px);
        background-color: #e8e8e8;
        pointer-events: none;
      }
      .button:hover .fold {
        margin-top: -1rem;
        margin-right: -1rem;
      }

      .points_wrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;
        pointer-events: none;
        position: absolute;
        z-index: 1;
      }

      .points_wrapper .point {
        bottom: -10px;
        position: absolute;
        animation: floating-points infinite ease-in-out;
        pointer-events: none;
        width: 2px;
        height: 2px;
        background-color: #fff;
        border-radius: 9999px;
      }
      @keyframes floating-points {
        0% {
          transform: translateY(0);
        }
        85% {
          opacity: 0;
        }
        100% {
          transform: translateY(-55px);
          opacity: 0;
        }
      }
      .points_wrapper .point:nth-child(1) {
        left: 10%;
        opacity: 1;
        animation-duration: 2.35s;
        animation-delay: 0.2s;
      }
      .points_wrapper .point:nth-child(2) {
        left: 30%;
        opacity: 0.7;
        animation-duration: 2.5s;
        animation-delay: 0.5s;
      }
      .points_wrapper .point:nth-child(3) {
        left: 25%;
        opacity: 0.8;
        animation-duration: 2.2s;
        animation-delay: 0.1s;
      }
      .points_wrapper .point:nth-child(4) {
        left: 44%;
        opacity: 0.6;
        animation-duration: 2.05s;
      }
      .points_wrapper .point:nth-child(5) {
        left: 50%;
        opacity: 1;
        animation-duration: 1.9s;
      }
      .points_wrapper .point:nth-child(6) {
        left: 75%;
        opacity: 0.5;
        animation-duration: 1.5s;
        animation-delay: 1.5s;
      }
      .points_wrapper .point:nth-child(7) {
        left: 88%;
        opacity: 0.9;
        animation-duration: 2.2s;
        animation-delay: 0.2s;
      }
      .points_wrapper .point:nth-child(8) {
        left: 58%;
        opacity: 0.8;
        animation-duration: 2.25s;
        animation-delay: 0.2s;
      }
      .points_wrapper .point:nth-child(9) {
        left: 98%;
        opacity: 0.6;
        animation-duration: 2.6s;
        animation-delay: 0.1s;
      }
      .points_wrapper .point:nth-child(10) {
        left: 65%;
        opacity: 1;
        animation-duration: 2.5s;
        animation-delay: 0.2s;
      }

      .inner {
        z-index: 2;
        gap: 6px;
        position: relative;
        width: 100%;
        color: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        transition: color 0.2s ease-in-out;
      }

      .inner svg.icon {
        width: 18px;
        height: 18px;
        transition: fill 0.1s linear;
      }

      .button:focus svg.icon {
        fill: white;
      }
      .button:hover svg.icon {
        fill: transparent;
        animation: dasharray 1s linear forwards,
          filled 0.1s linear forwards 0.95s;
      }
      @keyframes dasharray {
        from {
          stroke-dasharray: 0 0 0 0;
        }
        to {
          stroke-dasharray: 68 68 0 0;
        }
      }
      @keyframes filled {
        to {
          fill: white;
        }
      }
    }
  }
}
// 8
.section-eight {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .section-8-text {
    h4 {
      color: rgba(255, 255, 255, 1);
      font-size: 30px;
      font-weight: 600;
      line-height: 56.25px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    p {
      color: rgba(255, 255, 255, 1);
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      max-width: 100%;
    }
  }
  .form_div {
    display: flex;
    justify-content: center;
    form {
      background: rgba(255, 255, 255, 1);
      border-radius: 15px;
      padding: 50px;
      width: 100%;
      .form-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1080px) {
          flex-direction: column;
          gap: 15px;
          align-items: start;
        }
        .asdghjsakjg {
          h4 {
            color: rgba(0, 0, 0, 1);
            font-size: 30px;
            font-weight: 500;
            line-height: 45px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
          p {
            color: rgba(0, 0, 0, 1);
            font-size: 17px;
            font-weight: 400;
            line-height: 25.5px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            max-width: 100%;
          }
        }
        .inp-div {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          input {
            width: 385.68px;
            height: 48px;
            border-radius: 8px;
            background: rgba(0, 0, 0, 1);
            padding: 0 20px;
            font-family: "Montserrat", serif;
            width: 100%;
            color: #fff;
          }
          button {
            position: absolute;
            right: 2px;
            padding: 10px;
            background: rgba(216, 0, 39, 1);
            border-radius: 8px;
            color: #ffffff;
            cursor: pointer;
            font-family: "Montserrat", serif;
          }
        }
      }
    }
  }
}
